name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14.2'

      - name: Install dependencies and package
        run: |
          python -m pip install --upgrade pip
          pip install -e .                 # install your package so `import multi_uav_planner` works
          pip install pytest pytest-cov    # install test tools
          pip install pulp numpy scikit-learn
          # pip install -r requirements.txt  # if you have other deps

      - name: Run tests with coverage
        run: |
          pytest --cov=multi_uav_planner --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          # files: coverage.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}  # only required for private repos
